body {
    background-color: rgba(0, 0, 0, 0.082);
    font-family: "ralewayregular", "Sans serif";
}

nav {
    max-width: 1550px;
    margin: 0px auto;
    box-sizing: border-box;
    background-color: white;
}

.container {
    padding: 0px 30px;
    max-width: 1550px;
    margin: 0px auto;
    /* padding: 0 2rem; */
    box-sizing: border-box;
    background-color: white;
    border: 3px solid rgb(10, 10, 10);
}

#ahead {
    display: flex;
    /* flex-wrap: wrap; */
}

.aheadLogo {
    border: 3px solid blue;
    margin: 0px 300px 0px 0px;
}

.aheadNaving {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 1250px;
    height: auto;
}

.aheadNav {
    display: flex;
}

.aheadSign {
    display: flex;
    margin: 0px 10px;
}

#elt-1 {
    display: flex;
    flex-wrap: wrap;
}

#elt {
    margin: 0px 50px 0px 5px;
    color: black;
}

#elt-0 {
    width: 150px;
    text-align: center;
    border-top: 2px solid #0065FC;
    margin: 0px 50px 0px 5px;
    color: #0065FC;
}

#elt-01 {
    margin: 0px 50px 0px 50px;
    color: #0065FC;
}

.card-1 {
    width: auto;
    height: 55px;
    display: table;
    text-align: center;
    display: flex;
}

#elt-a {
    background-color: #F2F2F2;
    border-radius: 20px 0px 0px 20px;
    padding: 0px 20px 0px 10px;
}

#elt-b {
    padding: 0px 0px 0px 20px;
    border: 3px solid#F2F2F2;
}

#elt-b {
    display: flex;
    width: 250px;
}

#elt-c {
    padding: 0px 10px 0px 10px;
    border-radius: 0px 20px 20px 0px;
    background-color: #0065FC;
    color: white;
}

input {
    width: 150px;
    margin-left: 5px;
    cursor: pointer;
    border: none;
}

.container:after {
    overflow: hidden;
    content: "";
    /* Important, sinon l'élément n'est pas généré. */
    display: table;
    clear: both;
}

#card-2 {
    border: 2px solid red;
    margin: 30px 30px 0px 5px;
    width: auto;
    height: 38px;
    display: table;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    display: flex;
    justify-content: auto;
    border: 3px solid #F2F2F2;
}

#card-3 {
    margin: 30px 10px 0px 0px;
    text-align: left;
    padding: 0px 0.5em 0 0.5em;
    margin: right;
}

#card-4 {
    display: flex;
    margin: 10px 10px 0px -5px;
}

#moncercle {
    margin: -3px;
    background: #DEEBFF;
    justify-content: center;
    width: 40px;
    height: 40px;
    display: table;
    border-radius: 50%;
    -webkit-border-radius: ;
    -moz-border-radius: ;
    -ms-border-radius: ;
    -o-border-radius: ;
}

#moncercle-i {
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: table;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#moncercle span {
    display: table-cell;
    vertical-align: middle;
}

#logo_filter {
    color: #0065FC;
}

#logo_filter_i {
    color: black;
}

#logo_filter_bis {
    color: #F2F2F2;
}

.montableau {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#elt-e {
    padding: 0px 1em 0 2em;
    height: 30px;
    display: table;
    border-radius: 0px 30px 30px 0px;
    -webkit-border-radius: 0px 30px 30px 0px;
    -moz-border-radius: 0px 30px 30px 0px;
    -ms-border-radius: 0px 30px 30px 0px;
    -o-border-radius: 0px 30px 30px 0px;
}

main {
    border: 3px solid red;
    max-width: 1550px;
    display: flex;
    /* flex-wrap: wrap;  */
    justify-content: space-between;
}

.box_un {
    background-color: #F2F2F2;
    /* width: 950px; */
    width: 66%;
    height: auto;
    border-radius: 20px 20px 20px 20px;
}

.box_deux {
    background-color: #F2F2F2;
    width: 30%;
    height: auto;
    border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -ms-border-radius: 20px 20px 20px 20px;
    -o-border-radius: 20px 20px 20px 20px;
}

.ligne-une {
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
}

.card-hebergements {
    color: black;
    /* width: 26.1%; */
    width: 185px;
    height: 145px;
    padding: 5px;
    margin: 20px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    overflow: hidden;
    text-decoration: none;
}

.card-hebergements img {
    /* width: 100%; */
    width: 184px;
    height: 90px;
    /* height: 50%; */
    border-radius: 20px 20px 0px 0px;
    -webkit-border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    -ms-border-radius: 20px 20px 0px 0px;
    -o-border-radius: 20px 20px 0px 0px;
}

.ligne-botton {
    display: flex;
    flex-wrap: wrap;
}

.ligne-deux {
    background-color: #F2F2F2;
}

.card-populaires {
    max-width: 380px;
    max-height: 110px;
    display: flex;
    padding: 5px;
    margin: 20px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    text-decoration: none;
    color: black;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -ms-border-radius: 20px 20px 20px 20px;
    -o-border-radius: 20px 20px 20px 20px;
}

.card-populaires img {
    width: 100px;
    height: 110px;
    border-radius: 20px 0px 0px 20px;
    -webkit-border-radius: 20px 0px 0px 20px;
    -moz-border-radius: 20px 0px 0px 20px;
    -ms-border-radius: 20px 0px 0px 20px;
    -o-border-radius: 20px 0px 0px 20px;
}

.divleft {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    height: 50px;
    /* border: 3px solid red; */
}

.divleftTop {
    margin: 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.p2bis {
    /* margin-top: -12px; */
    margin: 5px 0px 0px 0px;
    font-size: 9px;
}

.p2ter {
    /* margin-top: -12px; */
    margin: 5px 0px 0px 15px;
    font-size: 9px;
}

.p2left {
    line-height: auto;
    font-size: 16px;
    font-weight: bold;
}

.p2leftBis {
    line-height: auto;
    font-size: 10px;
    margin: 2px 0px 0px 0px;
    color: rgba(0, 0, 0, 0.411);
}

.divright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    /* border: 3px solid red; */
}

.rightDivTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    margin: -20px 0px 0px 15px;
    /* border: 3px solid red; */
}


/* .rightDivTop .p2 {
    padding: 0px 0px 10px 0px;
} */

.p0 {
    line-height: 4px;
    font-size: 15px;
    margin: 15px 20px 10px 20px;
}

.p0Filtre {
    line-height: 4px;
    font-size: 1.2em;
    font-weight: bolder;
}

.p0Nav {
    line-height: 4px;
    font-size: 1.2em;
    font-weight: bolder;
    margin: 15px 20px 10px 20px;
}

.p1 {
    line-height: 4px;
    font-size: 15px;
}

 ::placeholder {
    color: black;
    line-height: auto;
    font-size: 18px;
    font-weight: bold;
}

.p2 {
    line-height: auto;
    font-size: 24px;
    font-weight: bold;
}

.p2Activity {
    line-height: auto;
    font-size: 24px;
    font-weight: bold;
    margin-top: 50px;
}

.p2Hebergement {
    line-height: auto;
    font-size: 16px;
    font-weight: bold;
    margin-left: 30px;
}

.p2marseille {
    line-height: auto;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0px 0px 15px;
    color: black;
}

p span {
    /* margin-left: 40px; */
    font-size: 18px;
    font-weight: bold;
    margin: 0px 0px 0px 56px;
}

#elt-a span {
    margin-left: 50px;
    font-size: 22px;
    font-weight: bold;
    margin: 0px 0px 0px 20px;
}

.p2left-word {
    line-height: auto;
    font-size: 12px;
}

.p3bis {
    line-height: auto;
    font-size: 18px;
    font-weight: bold;
    margin: 40px 40px 0px 30px;
    /* padding-bottom: 0 */
}

.p4 {
    margin: 10px 0px 0px 10px;
    padding-bottom: 0
}

.p5 {
    margin: 15px 15px 15px 15px;
    padding: 10
}

@font-face {
    font-family: 'ralewayregular';
    src: url('font/raleway-regular-webfont.woff2') format('woff2'), url('font/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.card-bottom {
    /* border: 1px solid red; */
    padding: 10px;
    margin: 15px;
    height: 450px;
    width: 250;
    background-color: white;
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -ms-border-radius: 30px 30px 30px 30px;
    -o-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
}

.card-bottom-un {
    padding: 10px;
    margin: 15px;
    height: 200px;
    width: 250px;
    background-color: white;
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -ms-border-radius: 30px 30px 30px 30px;
    -o-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
}

.card-bottom-deux {
    padding: 10px;
    margin: 15px;
    height: 180px;
    width: 250px;
    background-color: white;
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -ms-border-radius: 30px 30px 30px 30px;
    -o-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
}

.card-bottom img {
    border-radius: 30px 30px 0px 0px;
    width: 300px;
    height: 400px;
    -webkit-border-radius: 30px 30px 0px 0px;
    -moz-border-radius: 30px 30px 0px 0px;
    -ms-border-radius: 30px 30px 0px 0px;
    -o-border-radius: 30px 30px 0px 0px;
}

.card-bottom-un img {
    border-radius: 30px 30px 0px 0px;
    width: 300px;
    height: 220px;
    -webkit-border-radius: 30px 30px 0px 0px;
    -moz-border-radius: 30px 30px 0px 0px;
    -ms-border-radius: 30px 30px 0px 0px;
    -o-border-radius: 30px 30px 0px 0px;
}

.imgdeux img {
    border-radius: 30px 30px 0px 0px;
    width: 300px;
    height: 150px;
    -webkit-border-radius: 30px 30px 0px 0px;
    -moz-border-radius: 30px 30px 0px 0px;
    -ms-border-radius: 30px 30px 0px 0px;
    -o-border-radius: 30px 30px 0px 0px;
}

.card-bottom-deux img {
    border-radius: 30px 30px 0px 0px;
    width: 300px;
    height: 180px;
    -webkit-border-radius: 30px 30px 0px 0px;
    -moz-border-radius: 30px 30px 0px 0px;
    -ms-border-radius: 30px 30px 0px 0px;
    -o-border-radius: 30px 30px 0px 0px;
}

.box_bottom {
    padding: 10px;
    background-color: #F2F2F2;
    margin: 10px 10px 10px 10px;
    width: auto;
    border-radius: 30px 30px 30px 30px;
}

.card_activity {
    max-width: 1550px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.card_first,
.card_third {
    width: 23%;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.card_second {
    width: 23%;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    place-content: space-between stretch;
}

.first,
.third {
    color: black;
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 20px 20px;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -ms-border-radius: 20px 20px 20px 20px;
    -o-border-radius: 20px 20px 20px 20px;
    /*box-shadow: 0 0 0 1px #555;
    */
    box-shadow: 1px 1px 12px #F2F2F2;
    text-decoration: none;
}

.elmt_3-0 {
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 12px #F2F2F2;
    width: 96%;
    height: 90%;
    border-radius: 20px 20px;
    -webkit-border-radius: 20px 20px;
    -moz-border-radius: 20px 20px;
    -ms-border-radius: 20px 20px;
    -o-border-radius: 20px 20px;
}

.second_one {
    color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    box-shadow: 1px 1px 12px #F2F2F2;
    border-radius: 30px 30px 30px 30px;
    padding: 0px -5px 0px 0px;
    text-decoration: none;
}

.second_two {
    color: black;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    width: 100%;
    height: 40%;
    box-shadow: 1px 1px 12px #F2F2F2;
    border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -ms-border-radius: 30px 30px 30px 30px;
    -o-border-radius: 30px 30px 30px 30px;
    text-decoration: none;
}

.second_one img {
    height: 75%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    -webkit-border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    -ms-border-radius: 20px 20px 0px 0px;
    -o-border-radius: 20px 20px 0px 0px;
}

.second_two img {
    height: 70%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    -webkit-border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    -ms-border-radius: 20px 20px 0px 0px;
    -o-border-radius: 20px 20px 0px 0px;
}

.third img,
.first img {
    min-height: 88%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    -webkit-border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    -ms-border-radius: 20px 20px 0px 0px;
    -o-border-radius: 20px 20px 0px 0px;
}

.card_fourth {
    width: 23%;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    place-content: space-between stretch;
}

.fourth_one,
.fourth_two {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    width: 100%;
    height: 45%;
    box-shadow: 1px 1px 12px #F2F2F2;
    border-radius: 20px 20px 20px 20px;
    text-decoration: none;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -ms-border-radius: 20px 20px 20px 20px;
    -o-border-radius: 20px 20px 20px 20px;
}

.fourth_one img,
.fourth_two img {
    width: 99%;
    height: 73%;
    border-radius: 20px 20px 0px 0px;
    -webkit-border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    -ms-border-radius: 20px 20px 0px 0px;
    -o-border-radius: 20px 20px 0px 0px;
}

.awesomeInfo {
    display: flex;
    align-items: center;
    margin: 1rem 0 2rem 0;
}

.awesomeInfo-i {
    height: 2rem;
    width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    border: solid 1px #F2F2F2;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.awesomeInfo-i-Image {
    color: #0065FC;
}

.awesomeInfoText {
    margin: 0;
}

.footer {
    max-width: 1550px;
    margin: 0px auto;
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.container {
    padding: 0px 30px;
    max-width: 1550px;
    margin: 0px auto;
    /* padding: 0 2rem; */
    box-sizing: border-box;
    background-color: white;
    border: 3px solid rgb(10, 10, 10);
}

.footer_assistance,
.footer_hebergement,
.footer_propos {
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    margin: 0px 120px 0px 0px;
}


/* Media Query for Mobile Devices */

@media (max-width: 480px) {
    #elt-0 {
        width: 150px;
        text-align: center;
        border-top: none;
        border-bottom: 2px solid #0065FC;
        margin: 0px 50px 0px 5px;
        color: #0065FC;
    }
    .aheadLogo {
        order: 0;
    }
    .aheadNaving {
        display: flex;
        /* flex-wrap: wrap; */
        /* flex-direction: row-reverse; */
        justify-content: flex-start;
        width: 432px;
        height: auto;
        order: 1;
    }
    .aheadSign {
        order: 0;
        margin: 0px 0px 0px 100px;
    }
    .aheadNav {
        /* border: 3px solid red; */
        order: 1;
        margin: 0px 0px 0px -100px;
    }
    .box_un {
        order: 1;
    }
    .box_deux {
        order: 0;
    }
    header {
        background-color: skyblue;
    }
}


/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 600px et 1600px */

@media (max-width: 1600px) {}